{% extends "index.html" %}
{% block body %}

<div class="col-12">
    <div class="card border-top-primary">
        <div class="card-header bg-info">
            <h6 class="card-title text-white">Atrial Fibrillation</h6>
        </div>
        <div class="card-content collapse show">
            <div class="card-body">
                Despite good progress in the management of patients with atrial fibrillation (AF), this arrhythmia remains one of the major
                causes of stroke, heart failure, sudden death, and cardiovascular morbidity in the world. In 2010, the estimated numbers of
                men and women with AF world- wide were 20.9 million and 12.6 million,
                respectively, with higher incidence and prevalence rates in developed countries.
                Several bleeding risk scores are developed for estimating bleeding risk in patients with AF.
                These include: HAS-BLED (hypertension, abnormal renal/liver function, stroke, bleeding history or predisposition,
                labile INR, elderly (>65 years), drugs/alcohol concomitantly), ORBIT (older age, reduced hemoglobin/ hematocrit/anemia,
                bleeding history, insufficient kidney function, treatment with anti-platelets), ABC (age, biomarkers, clinical history),
                ATRIA (anemia, severe renal disease, age ≥ 75 years, previous hemorrhage, and diagnosed hypertension) and HEMORR(2)HAGES
                (Hepatic or Renal Disease, Ethanol Abuse, Malignancy, Older Age, Reduced Platelet Count or Function, Re-Bleeding, Hypertension,
                Anemia, Genetic Factors, Excessive Fall Risk and Stroke). The use of oral anticoagulants is still a standard in stroke prevention
                in AF but should be balanced against associated bleeding risk.
            </div>
        </div>
    </div>
</div>

<div class="col-12 mt-4">
    <div class="card border-top-primary">
        <div class="card-header bg-info">
            <h6 class="card-title text-white">Aim</h6>
        </div>
        <div class="card-content collapse show">
            <div class="card-body">
                Development of software solution that will enable a quick assessment of bleeding risk in patients
                with AF to the clinician in order to optimize anticoagulation therapy in patients with AF
                (especially in patients who use vitamin K antagonists in therapy). Software enables a
                faster and easier assessment of bleeding risk in patients with AF, which leads to a better therapeutic modality.
                The easy availability of the software makes it easy to access and distribute it.
            </div>
        </div>
    </div>
</div>

<div class="col-12 mt-4">
    <div class="card border-top-primary">
        <div class="card-header bg-info">
            <h6 class="card-title text-white">References</h6>
        </div>
        <div class="card-content collapse show">
            <div class="card-body">
                <ol>
                    <li>Kirchhof P, Benussi S, Kotecha D, Ahlsson A, Atar D, Casadei B, et al. 2016 ESC Guidelines for the management of atrial fibrillation developed in collaboration with EACTS. Europace. 2016 Nov;18(11):1609-1678. </li>
                    <li>Hijazi Z, Lindbäck J, Alexander JH, et al. The ABC (age, biomarkers, clinical history) stroke risk score: a biomarker-based risk score for predicting stroke in atrial fibrillation. Eur Heart J. 2016;37(20):1582-90.</li>
                    <li>Hijazi Z, Oldgren J, Andersson U, Connolly SJ, Ezekowitz MD, Hohnloser SH, Reilly PA, Siegbahn A, Yusuf S, Wallentin L . Importance of persistent elevation of cardiac biomarkers in atrial fibrillation: a RE-LY substudy . Heart 2014. ; 100 : 1193 – 1200 .</li>
                    <li>Wang C, Yu Y, Zhu W, Yu J, Lip GYH, Hong K. Comparing the ORBIT and HAS-BLED bleeding risk scores in anticoagulated atrial fibrillation patients: a systematic review and meta-analysis. Oncotarget. 2017;8(65):109703-109711. </li>
                    <li>Senoo K, Proietti M, Lane DA, Lip GY. Evaluation of the HAS-BLED, ATRIA, and ORBIT Bleeding Risk Scores in Patients with Atrial Fibrillation Taking Warfarin. Am J Med. 2016;129:600–07.</li>
                    <li>Proietti M, Senoo K, Lane DA, Lip GY. Major Bleeding in Patients with Non-Valvular Atrial Fibrillation: Impact of Time in Therapeutic Range on Contemporary Bleeding Risk Scores. Sci Rep. 2016;6:24376. </li>
                    <li>Kooiman J, van Hagen N, Iglesias Del Sol A, et al. The HAS-BLED Score Identifies Patients with Acute Venous Thromboembolism at High Risk of Major Bleeding Complications during the First Six Months of Anticoagulant Treatment. PLoS One. 2015;10(4):e0122520. </li>
                    <li>Roldán V, Marín F, Fernández H, Manzano-Fernandez S, Gallego P, Valdés M, et al. Predictive value of the HAS-BLED and ATRIA bleeding scores for the risk of serious bleeding in a "real-world" population with atrial fibrillation receiving anticoagulant therapy. Chest. 2013 Jan;143(1):179-184.</li>
                    <li>Rivera-Caravaca JM, Roldán V, Esteve-Pastor MA, et al. Importance of time in therapeutic range on bleeding risk prediction using clinical risk scores in patients with atrial fibrillation. Sci Rep. 2017;7(1):12066. </li>
                </ol>
            </div>
        </div>
    </div>
</div>



{% endblock %}