{% extends "index.html" %}
{% block body %}
    <div class="row">
		<div class="col-12 mt-3 mb-1">
			<h4 class="text-uppercase">Available calculators</h4>
			<p>Please select the type of score you wish to calculate</p>
		</div>
	</div>
<div class="row match-height">
		<div class="col-xl-3 col-md-6 col-sm-12">
			<div class="card border-info mb-4">
                <div class="card-header card-head-inverse bg-info">
					<div class="card-title text-white">HAS-BLED</div>
				</div>
				<div class="card-content">
					<div class="card-body d-flex flex-column">
						<ul class="list-style-circle">
                          <li>Hypertension</li>
                          <li>Abnormal renal/liver function</li>
                          <li>Stroke</li>
                          <li>Bleeding history or predisposition</li>
                          <li>Labile INR</li>
                          <li>Elderly (&gt;65 years)</li>
                          <li>Drugs/alcohol concomitantly</li>
                        </ul>
						<a href="#" class="mt-auto btn btn-outline-primary">Select</a>
					</div>
				</div>
			</div>
		</div>
		<div class="col-xl-3 col-md-6 col-sm-12">
			<div class="card border-info mb-4">
                <div class="card-header card-head-inverse bg-info">
					<div class="card-title text-white">ORBIT</div>
				</div>
				<div class="card-content">
					<div class="card-body d-flex flex-column">
						<ul class="list-style-circle">
                          <li>Older age</li>
                          <li>Reduced hemoglobin/hematocrit/anemia</li>
                          <li>Bleeding history</li>
                          <li>Insufficient kidney function</li>
                          <li>Treatment with anti-platelets</li>
                        </ul>
						<a href="/orbit" class="mt-auto btn btn-outline-primary">Select</a>
					</div>
				</div>
			</div>
		</div>
		<div class="col-xl-3 col-md-6 col-sm-12">
			<div class="card border-info mb-4">
                <div class="card-header card-head-inverse bg-info">
					<div class="card-title text-white">ABC</div>
				</div>
				<div class="card-content">
					<div class="card-body d-flex flex-column">
						<ul class="list-style-circle">
                          <li>Age</li>
                          <li>Biomarkers</li>
                          <li>Clinical history</li>
                        </ul>
						<a href="#" class="align-bottom btn btn-outline-primary">Select</a>
					</div>
				</div>

			</div>
		</div>
        <div class="col-xl-3 col-md-6 col-sm-12">
			<div class="card border-info mb-4">
                <div class="card-header card-head-inverse bg-info">
					<div class="card-title text-white">ATRIA</div>
				</div>
				<div class="card-content">
					<div class="card-body d-flex flex-column">
						<ul class="list-style-circle">
                          <li>Anemia</li>
                          <li>Sever renal disease</li>
                          <li>Age ≥ 75 years</li>
                          <li>Previous hemorrhage</li>
                          <li>Diagnosed hypertension</li>
                        </ul>
						<a href="/atria" class="align-bottom btn btn-outline-primary">Select</a>
					</div>
				</div>

			</div>
		</div>
            <div class="col-xl-3 col-md-6 col-sm-12">
			<div class="card border-info mb-4">
                <div class="card-header card-head-inverse bg-info">
					<div class="card-title text-white">HEMORR2HAGES</div>
				</div>
				<div class="card-content">
					<div class="card-body d-flex flex-column">
						<ul class="list-style-circle">
                          <li>Hepatic or Renal Disease</li>
                          <li>Ethanol Abuse</li>
                          <li>Malignancy</li>
                          <li>Older Age</li>
                          <li>Reduced Platelet Count or Function</li>
                          <li>Re-Bleeding</li>
                          <li>Hypertension</li>
                          <li>Anemia</li>
                          <li>Genetic Factors</li>
                          <li>Excessive Fall Risk and Stroke</li>
                        </ul>
                        <a href="#" class="align-bottom btn btn-outline-primary">Select</a>
					</div>
				</div>

			</div>
		</div>
	</div>

{% endblock %}