{% extends "index.html" %}
{% block body %}

<div class="ui segment">
    <div class="ui huge green header">{{form.ldl}}
        <div class="sub header">
            Low density lipoproteins (LDL)
        </div>
    </div>

    <div class="ui huge green header">
        {{form.vldl}}
        <div class="sub header">
            Very low density lipoproteins (VLDL)
        </div>
    </div>

    <div class="ui teal horizontal divider">
        Risk factors
    </div>
    <div class="ui stackable eight column grid">

        <div class="column">
            <div class="ui huge green header">
                {{form.cri_i}}
                <div class="sub header">
                    Castelli's risk index (CRI-I)
                </div>
            </div>
        </div>

        <div class="column">
            <div class="ui huge green header">
                {{form.cri_ii}}
                <div class="sub header">
                    Castelli's risk index (CRI-II)
                </div>
            </div>
        </div>

        <div class="column">
            <div class="ui huge green header">
                {{form.ac}}
                <div class="sub header">
                    Atherogenic Coefficient (AC)
                </div>
            </div>
        </div>

        <div class="column">
            <div class="ui huge green header">
                {{form.chol_index}}
                <div class="sub header">
                    CHOLINDEX
                </div>
            </div>
        </div>

    </div>

</div>
{% endblock %}