{% extends "index.html" %}
{% block body %}

<div class="col-12">
    <div class="card border-info">
        <div class="card-header card-head-inverse bg-info">
            <h6 class="card-title text-white">HAS-BLED Bleeding Risc Score</h6>

        </div>
        <div class="card-content collapse show">
            <div class="card-body">
                <form action="#">
                    <div class="form-body">
                        <div class="form-group">
                            <div class="row">
                                <label class="col-lg-5">
                                    <h6>Hypertension</h6>
                                    <h6>
                                        <small>Uncontrolled, >160 mmHg systolic</small>
                                    </h6>
                                </label>
                                <div class="col-lg-7">
                                    <input id="hypertensionToggle" type="checkbox" data-toggle="toggle" data-on="Yes +1"
                                           data-off="No"
                                           data-onstyle="danger">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <label class="col-lg-5">
                                    <h6>Renal disease</h6>
                                    <h6>
                                        <small>Dialysis, transplant, Cr >22.6 mg/L or >200 µmol/L</small>
                                    </h6>
                                </label>
                                <div class="col-lg-7">
                                    <input id="renalDiseaseToggle" type="checkbox" data-toggle="toggle" data-on="Yes +1"
                                           data-off="No"
                                           data-onstyle="danger">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <label class="col-lg-5">
                                    <h6>Bleeding history</h6>
                                    <h6>
                                        <small>&nbsp;</small>
                                    </h6>
                                </label>
                                <div class="col-lg-7">
                                    <input id="bleedingHistoryToggle" type="checkbox" data-toggle="toggle"
                                           data-on="Yes +1" data-off="No"
                                           data-onstyle="danger">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <label class="col-lg-5">
                                    <h6>Liver disease</h6>
                                    <h6>
                                        <small>Cirrhosis or bilirubin >2x normal with AST/ALT/AP >3x normal</small>
                                    </h6>
                                </label>
                                <div class="col-lg-7">
                                    <input id="liverDiseaseToggle" type="checkbox" data-toggle="toggle" data-on="Yes +1"
                                           data-off="No"
                                           data-onstyle="danger">
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="row">
                                <label class="col-lg-5">
                                    <h6>Stroke history</h6>
                                    <h6>
                                        <small>&nbsp;</small>
                                    </h6>
                                </label>
                                <div class="col-lg-7">
                                    <input id="strokeHistoryToggle" type="checkbox" data-toggle="toggle"
                                           data-on="Yes +1" data-off="No"
                                           data-onstyle="danger">
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="row">
                                <label class="col-lg-5">
                                    <h6>Prior major bleeding or predisposition to bleeding</h6>
                                    <h6>
                                        <small>&nbsp;</small>
                                    </h6>
                                </label>
                                <div class="col-lg-7">
                                    <input id="priorMajorBleedingToggle" type="checkbox" data-toggle="toggle"
                                           data-on="Yes +1" data-off="No"
                                           data-onstyle="danger">
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="row">
                                <label class="col-lg-5">
                                    <h6>Labile INR</h6>
                                    <h6>
                                        <small>Unstable/high INRs, time in therapeutic range <60%</small>
                                    </h6>
                                </label>
                                <div class="col-lg-7">
                                    <input id="labileInrToggle" type="checkbox" data-toggle="toggle"
                                           data-on="Yes +1" data-off="No"
                                           data-onstyle="danger">
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="row">
                                <label class="col-lg-5">
                                    <h6>Age > 65 years</h6>
                                    <h6>
                                        <small>Unstable/high INRs, time in therapeutic range <60%</small>
                                    </h6>
                                </label>
                                <div class="col-lg-7">
                                    <input id="ageToggle" type="checkbox" data-toggle="toggle"
                                           data-on="Yes +1" data-off="No"
                                           data-onstyle="danger">
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="row">
                                <label class="col-lg-5">
                                    <h6>Medication usage predisposing to bleeding</h6>
                                    <h6>
                                        <small>Aspirin, clopidogrel, NSAIDs</small>
                                    </h6>
                                </label>
                                <div class="col-lg-7">
                                    <input id="medicationUsageToggle" type="checkbox" data-toggle="toggle"
                                           data-on="Yes +1" data-off="No"
                                           data-onstyle="danger">
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="row">
                                <label class="col-lg-5">
                                    <h6>Alcohol use</h6>
                                    <h6>
                                        <small>≥8 drinks/week</small>
                                    </h6>
                                </label>
                                <div class="col-lg-7">
                                    <input id="alcoholUseToggle" type="checkbox" data-toggle="toggle"
                                           data-on="Yes +1" data-off="No"
                                           data-onstyle="danger">
                                </div>
                            </div>
                        </div>


                    </div>

                </form>
            </div>
        </div>
    </div>
</div>

<div class="col-12 mt-4">
    <div class="card box-shadow-0">
        <div id="riskResultCard" class="card-header card-head-inverse bg-success">
            <div class="container">
                <div class="row">
                    <div class="col-sm">
                        <h6 id="riskResultTitle" class="card-title text-white">LOW RISK</h6>
                    </div>
                    <div class="col-sm"></div>
                    <div class="col-sm text-right">
                        <h6 class="card-title text-white"><span id="riskValueLabel">0</span> points</h6></div>
                </div>
            </div>
        </div>
        <div class="card-content collapse show">
            <div class="card-body">
                <p id="riskResultDescription" class="card-text">Low Risk (<3 Points)</p>
            </div>
        </div>
    </div>
</div>

<script>

    let risk = 0;
    let riskThreshold = 3;
    let hypertensionRisk = 1;
    let renalDiseaseRisk = 1;
    let bleedingHistoryRisk = 1;
    let liverDiseaseRisk = 1;
    let strokeHistoryRisk = 1;
    let priorMajorBleedingRisk = 1;
    let labileInrRisk = 1;
    let oldAgeRisk = 1;
    let medicationUsageRisk = 1;
    let alcoholUseRisk = 1;

    let lowRiskDescription = "Low Risk (<3 Points)"
    let intermediateRiskDescription = "Intermediate Risk (3 Points)"
    let highRiskDescription = "High Risk (>3 Points)";

      $(function() {

    $('#hypertensionToggle').change(function() {
        let checked = $(this).prop('checked');
        update(checked, hypertensionRisk);
    });


    $('#renalDiseaseToggle').change(function() {
        let checked = $(this).prop('checked');
        update(checked, renalDiseaseRisk);
    });


    $('#bleedingHistoryToggle').change(function() {
        let checked = $(this).prop('checked');
        update(checked, bleedingHistoryRisk);
    });

    $('#liverDiseaseToggle').change(function() {
        let checked = $(this).prop('checked');
        update(checked, liverDiseaseRisk);
    });

    $('#strokeHistoryToggle').change(function() {
        let checked = $(this).prop('checked');
        update(checked, strokeHistoryRisk);
    });

    $('#priorMajorBleedingToggle').change(function() {
        let checked = $(this).prop('checked');
        update(checked, priorMajorBleedingRisk);
    });

    $('#labileInrToggle').change(function() {
        let checked = $(this).prop('checked');
        update(checked, labileInrRisk);
    });

    $('#ageToggle').change(function() {
        let checked = $(this).prop('checked');
        update(checked, oldAgeRisk);
    });

        $('#medicationUsageToggle').change(function() {
        let checked = $(this).prop('checked');
        update(checked, medicationUsageRisk);
    });

        $('#alcoholUseToggle').change(function() {
        let checked = $(this).prop('checked');
        update(checked, alcoholUseRisk);
    });

    function update(checked, value) {
        if(checked) {
            increaseRisk(value);
        } else {
            decreaseRisk(value);
        }
        updateLabel();
    }

    function increaseRisk(value) {
        risk += value;
    }

    function decreaseRisk(value) {
        risk -= value;
    }

    function updateLabel() {
        if (risk < riskThreshold) {
            setLowRiskLabel();
        } else if (risk === riskThreshold) {
            setIntermediateRiskLabel()
         } else if (risk > riskThreshold) {
            setHighRiskLabel();
         }
         $('#riskValueLabel').text(risk);
    }

    function setLowRiskLabel() {
        $('#riskResultCard').attr("class","card-header card-head-inverse bg-success");
        $('#riskResultTitle').text("LOW RISK");
        $('#pointsScore').text(risk);
         $('#riskResultDescription').text(lowRiskDescription);
    }

    function setIntermediateRiskLabel() {
        $('#riskResultCard').attr("class","card-header card-head-inverse bg-warning");
        $('#riskResultTitle').text("INTERMEDIATE RISK");
        $('#riskResultDescription').text(intermediateRiskDescription);
    }

    function setHighRiskLabel() {
        $('#riskResultCard').attr("class","card-header card-head-inverse bg-danger");
        $('#riskResultTitle').text("HIGH RISK");
        $('#riskResultDescription').text(highRiskDescription);
    }
});

</script>

{% endblock %}