{% extends "index.html" %}
{% block body %}

<div class="col-12">
    <div class="card border-info">
        <div class="card-header card-head-inverse bg-info">
            <h4 class="card-title text-white">HEMORR₂HAGES Bleeding Risc Score</h4>

        </div>
        <div class="card-content collapse show">
            <div class="card-body">
                <form action="#">
                    <div class="form-body">
                        <div class="form-group">
                            <div class="row">
                                <label class="col-lg-5">
                                    <h5>Hepatic or Renal Disease</h5>
                                    <h6>
                                        <small>&nbsp;</small>
                                    </h6>
                                </label>
                                <div class="col-lg-7">
                                    <input id="hepaticOrRenalDiseaseToggle" type="checkbox" data-toggle="toggle" data-on="Yes +1" data-off="No"
                                           data-onstyle="danger">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <label class="col-lg-5">
                                    <h5>Ethanol (Alcohol) Abuse</h5>
                                    <h6>
                                        <small>&nbsp;</small>
                                    </h6>
                                </label>
                                <div class="col-lg-7">
                                    <input id="ethanolAbuseToggle" type="checkbox" data-toggle="toggle" data-on="Yes +1" data-off="No"
                                           data-onstyle="danger">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <label class="col-lg-5">
                                    <h5>Malignancy History</h5>
                                    <h6>
                                        <small>&nbsp;</small>
                                    </h6>
                                </label>
                                <div class="col-lg-7">
                                    <input id="malignancyHistoryToggle" type="checkbox" data-toggle="toggle" data-on="Yes +1" data-off="No"
                                           data-onstyle="danger">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <label class="col-lg-5">
                                    <h5>Older (Age > 75)</h5>
                                    <h6>
                                        <small>&nbsp;</small>
                                    </h6>
                                </label>
                                <div class="col-lg-7">
                                    <input id="olderAgeToggle" type="checkbox" data-toggle="toggle" data-on="Yes +1" data-off="No"
                                           data-onstyle="danger">
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="row">
                                <label class="col-lg-5">
                                    <h5>Reduced Platelet Count or Function</h5>
                                    <h6>
                                        <small>Includes aspirin use, any thrombocytopenia or blood dyscrasia, like hemophilia</small>
                                    </h6>
                                </label>
                                <div class="col-lg-7">
                                    <input id="reducedPlateletCountToggle" type="checkbox" data-toggle="toggle" data-on="Yes +1" data-off="No"
                                           data-onstyle="danger">
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="row">
                                <label class="col-lg-5">
                                    <h5>Rebleeding Risk</h5>
                                    <h6>
                                        <small>History of past bleeding</small>
                                    </h6>
                                </label>
                                <div class="col-lg-7">
                                    <input id="rebleedingRiskToggle" type="checkbox" data-toggle="toggle" data-on="Yes +1" data-off="No"
                                           data-onstyle="danger">
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="row">
                                <label class="col-lg-5">
                                    <h5>Hypertension (Uncontrolled)</h5>
                                    <h6>
                                        <small>&nbsp;</small>
                                    </h6>
                                </label>
                                <div class="col-lg-7">
                                    <input id="hypertensionToggle" type="checkbox" data-toggle="toggle" data-on="Yes +1" data-off="No"
                                           data-onstyle="danger">
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="row">
                                <label class="col-lg-5">
                                    <h5>Anemia</h5>
                                    <h6>
                                        <small>Hgb <13 g/dL for Men; Hgb <12 g/dL for Women</small>
                                    </h6>
                                </label>
                                <div class="col-lg-7">
                                    <input id="anemiaToggle" type="checkbox" data-toggle="toggle" data-on="Yes +1" data-off="No"
                                           data-onstyle="danger">
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="row">
                                <label class="col-lg-5">
                                    <h5>Genetic Factors</h5>
                                    <h6>
                                        <small>CYP 2C9 single-nucleotide polymorphisms</small>
                                    </h6>
                                </label>
                                <div class="col-lg-7">
                                    <input id="geneticFactorsToggle" type="checkbox" data-toggle="toggle" data-on="Yes +1" data-off="No"
                                           data-onstyle="danger">
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="row">
                                <label class="col-lg-5">
                                    <h5>Excessive Fall Risk</h5>
                                    <h6>
                                        <small>&nbsp;</small>
                                    </h6>
                                </label>
                                <div class="col-lg-7">
                                    <input id="excessiveFallRiskToggle" type="checkbox" data-toggle="toggle" data-on="Yes +1" data-off="No"
                                           data-onstyle="danger">
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="row">
                                <label class="col-lg-5">
                                    <h5>Stroke History</h5>
                                    <h6>
                                        <small>&nbsp;</small>
                                    </h6>
                                </label>
                                <div class="col-lg-7">
                                    <input id="strokeHistoryToggle" type="checkbox" data-toggle="toggle" data-on="Yes +1" data-off="No"
                                           data-onstyle="danger">
                                </div>
                            </div>
                        </div>


                    </div>

                </form>
            </div>
        </div>
    </div>
</div>

<div class="col-12 mt-4">
    <div class="card box-shadow-0">
        <div id="riskResultCard" class="card-header card-head-inverse bg-success">
            <div class="container">
                <div class="row">
                    <div class="col-sm">
                        <h4 id="riskResultTitle" class="card-title text-white">LOW RISK</h4>
                    </div>
                    <div class="col-sm"></div>
                    <div class="col-sm text-right">
                        <h4 class="card-title text-white"><span id="riskValueLabel">0</span> points</h4></div>
                </div>
            </div>
        </div>
        <div class="card-content collapse show">
            <div class="card-body">
                <p id="riskResultDescription" class="card-text">Low Risk (<3 Points)</p>
            </div>
        </div>
    </div>
</div>

<script>

    let risk = 0;
    let riskIncrement = 1;
    let riskLowerLimit = 2;
    let riskUpperLimit = 3;

    let lowRiskDescription = "Low Risk (<3 Points)"
    let intermediateRiskDescription = "Intermediate Risk (3 Points)"
    let highRiskDescription = "High Risk (>3 Points)";

    $(function() {
    $('#hepaticOrRenalDiseaseToggle').change(function() {
        let checked = $(this).prop('checked');
        update(checked, riskIncrement);
    });


    $('#ethanolAbuseToggle').change(function() {
        let checked = $(this).prop('checked');
        update(checked, riskIncrement);
    });


    $('#malignancyHistoryToggle').change(function() {
        let checked = $(this).prop('checked');
        update(checked, riskIncrement);
    });


    $('#olderAgeToggle').change(function() {
        let checked = $(this).prop('checked');
        update(checked, riskIncrement);
    });

    $('#reducedPlateletCountToggle').change(function() {
        let checked = $(this).prop('checked');
        update(checked, riskIncrement);
    });

    $('#rebleedingRiskToggle').change(function() {
        let checked = $(this).prop('checked');
        update(checked, riskIncrement);
    });

    $('#hypertensionToggle').change(function() {
        let checked = $(this).prop('checked');
        update(checked, riskIncrement);
    });

    $('#anemiaToggle').change(function() {
        let checked = $(this).prop('checked');
        update(checked, riskIncrement);
    });

    $('#geneticFactorsToggle').change(function() {
        let checked = $(this).prop('checked');
        update(checked, riskIncrement);
    });

    $('#excessiveFallRiskToggle').change(function() {
        let checked = $(this).prop('checked');
        update(checked, riskIncrement);
    });

    $('#strokeHistoryToggle').change(function() {
        let checked = $(this).prop('checked');
        update(checked, riskIncrement);
    });

    function update(checked, value) {
        if(checked) {
            increaseRisk(value);
        } else {
            decreaseRisk(value);
        }
        updateLabel();
    }

    function increaseRisk(value) {
        risk += value;
    }

    function decreaseRisk(value) {
        risk -= value;
    }

    function updateLabel() {
        if (risk < riskLowerLimit) {
            setLowRiskLabel();
        } else if (risk > riskUpperLimit) {
            setHighRiskLabel();
         } else {
            setIntermediateRiskLabel();
         }
          $('#riskValueLabel').text(risk);
    }

    function setLowRiskLabel() {
        $('#riskResultCard').attr("class","card-header card-head-inverse bg-success");
        $('#riskResultTitle').text("LOW RISK");
         $('#riskResultDescription').text(lowRiskDescription);
    }

    function setIntermediateRiskLabel() {
        $('#riskResultCard').attr("class","card-header card-head-inverse bg-warning");
        $('#riskResultTitle').text("INTERMEDIATE RISK");
        $('#riskResultDescription').text(intermediateRiskDescription);
    }

    function setHighRiskLabel() {
        $('#riskResultCard').attr("class","card-header card-head-inverse bg-danger");
        $('#riskResultTitle').text("HIGH RISK");
        $('#riskResultDescription').text(highRiskDescription);
    }
});
</script>

{% endblock %}